<ion-header>
  <ion-toolbar>
    <ion-title>Generala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="col">
    <div class="box">1</div>
    <div class="box">2</div>
    <div class="box">3</div>
    <div class="box">4</div>
    <div class="box">5</div>
    <div class="box">6</div>
    <div class="box">ESCALERA</div>
    <div class="box">FULL</div>
    <div class="box">POKER</div>
    <div class="box">GENERALA</div>
    <div class="box">GENERALA DOBLE</div>
  </div>
</ion-content>
