<ion-header>
  <ion-toolbar>
    <ion-title>Generala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-end labels" size="3">
        <div class="space"><br></div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div class="word">ESCALERA</div>
        <div class="word">FULL</div>
        <div class="word">PÓKER</div>
        <div class="word">GENERALA</div>
        <div class="word">GENERALA<br>DOBLE</div>
        <div class="word">TOTAL</div>
      </ion-col>

      <ion-col *ngFor="let player of this.players" class="ion-text-center player">
        <div class="player-name"><ion-text>{{(player.name[0]+player.name[1]).toUpperCase()}}</ion-text></div>
        <app-field></app-field>
        <app-field></app-field>
        <app-field></app-field>
        <app-field></app-field>
        <app-field></app-field>
        <app-field></app-field>
        <app-field></app-field>
        <app-field></app-field>
        <app-field></app-field>
        <app-field></app-field>
        <app-field></app-field>
        <app-field></app-field>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
