#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.player1{
  color: red;
}

.player1{
  color: green;
}

.player2{
  color: blue;
}

.player3{
  color: yellow;
}

.player4{
  color: orange;
}

.player5{
  color: violet;
}

.player6{
  color: aqua;
}